<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/choix.css">
    <title>Document</title>
</head>

<body>

    <body>

        <div class="portofolio">
            <div class="container">
                <div class="main-heading">
                    <h1>Services</h1>
                </div>
            </div>

            <div class="img-container">
                <div class="box">
                    <a href="cardiology.html"> <!-- Ajouter l'URL de la page cardiology.html -->
                        <img src="pictures/AdobeStock_615837697_Preview.jpeg" alt="Cardiology">
                        <div class="caption">
                            <h4>Cardiology</h4>
                            <p>Espace Medecin</p>
                        </div>
                    </a>
                </div>
                <div class="box">
                    <a href="Espace_Patient.html"> <!-- Ajouter l'URL de la page patient.html -->
                        <img src="pictures/AdobeStock_430777672_Preview.jpeg" alt="Patient">
                        <div class="caption">
                            <h4>Patient</h4>
                            <p>Espace Patient</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </body>

    </div>
</body>

</html>